@model SIAProjeto.Models.TipoUtilizador

@{
    ViewBag.Title = "Detalhes do Tipo de Utilizador";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idTipoUtilizador }) |
    @Html.ActionLink("Regressar", "Index")
</p>
